{% extends "blog/base.html" %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}payamQorbanpour{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-lg-8 col-lg-offset-2 text-center">

      <div class="row py-4">
        <!-- <div class="col-lg-2 col-md-4 col-sm-0 col-xs-0"></div> -->
        <div class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <img class="col-12 image-responsive" src="{% static "user.jpeg" %}" alt="PayamQorbanpour">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-5">
          <h3>Hi, i am</h3>
          <h2>Payam Qorbanpour!</h2>
          <p>A geek, pythonist, web developer and art and nature lover.</p>
          <p>I have a BS degree in Computer Software and I'm currently studying for MA.</p>
        </div>
      </div><!-- /.row -->

    </div><!-- /col-lg-8 -->
    <div class="col-2"></div>
  </div><!-- /row -->
</div> <!-- /container -->

<section id="skills" class="my-5">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-skill-tab" data-toggle="tab" href="#nav-skill" role="tab" aria-controls="nav-skill" aria-selected="true">Skills</a>
      <a class="nav-item nav-link" id="nav-edu-tab" data-toggle="tab" href="#nav-edu" role="tab" aria-controls="nav-edu" aria-selected="false">Education</a>
      <!-- <a class="nav-item nav-link" id="nav-experience-tab" data-toggle="tab" href="#nav-experience" role="tab" aria-controls="nav-experience" aria-selected="false">Experiences</a> -->
      <a class="nav-item nav-link" id="nav-other-tab" data-toggle="tab" href="#nav-other" role="tab" aria-controls="nav-other" aria-selected="false">Other interests</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-skill" role="tabpanel" aria-labelledby="nav-skill-tab">

      <div class="pt-3">
        <h2>Technical</h2>
        <ul>
          <li>python</li>
          <li>django</li>
          <li>Familiar with REST(django-rest-framework)</li>
        </ul>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Database</h2>
          <ul>
            <li>Relational Databases (MySQL & MS Access)</li>
            <li>NoSQL Databases (MongoDB)</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2>Version Control</h2>
          <ul>
            <li>Git</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2>Operating system</h2>
          <ul>
            <li>Linux (Ubuntu distribution as the current OS)</li>
            <li>Windows</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Web</h2>
          <ul>
            <li>PHP</li>
            <li>HTML - CSS - Bootstrap</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2>Graphic Design</h2>
          <ul>
            <li>Adobe Photoshop/ Illustrator/ Gimp(for linux)</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2>Other</h2>
          <ul>
            <li>Familiar with Agile Development (scrum)</li>
            <li>UML and its tools (such as Rational Rose)</li>
            <li>Familiar with mobile app development: Java/Android</li>
            <li>Webmastering (wordpress, joomla)</li>
          </ul>
        </div>
      </div>

      <div class="">
        <h2>Non-technical skills</h2>
        <ul>
          <li>Fluent in English (as the main technical language)</li>
          <li>Communication and team-work abilities</li>
        </ul>
      </div>

    </div>
    <div class="tab-pane fade" id="nav-edu" role="tabpanel" aria-labelledby="nav-edu-tab">
      <div class="pt-3">
        <h2>Non-technical skills</h2>
        <ul>
          <li>Bachelor of Science in Computer Software [2013 - 2017]</li>
          <li>Currently stuyding Master of Science in Computer Software at <a href="http://srbiau.ac.ir">srbaiu</a></li>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-experience" role="tabpanel" aria-labelledby="nav-experience-tab">

      <div class="pt-3">
        <h2>Other</h2>
        <ul>
          <li>Amatuer Setar player</li>
        </ul>
      </div>

    </div>
    <div class="tab-pane fade" id="nav-other" role="tabpanel" aria-labelledby="nav-other-tab">

      <div class="row pt-3">
        <div class="col-lg-4">
          <h2>Reading</h2>
          <ul>
            <li>book</li>
            <p>Novels.</p>
            <p>Interested in psychology.</p>
            <p>Mostly scientific facts fascinate me.</p>
          </ul>
        </div>
        <div class="col-lg-4">
          <h2>Astronomy</h2>
          <p>Love watching stars and constellations and thinking about them.</p>
        </div>
        <div class="col-lg-4">
          <h2>Music</h2>
          <ul>
            <li>Amatuer Setar player</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}


{% block posts %}
  <section class="mt-5">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-lg-8">
        <h1 class="font-bold text-center py-3">Latest Posts of the Blog</h1>
        <hr>
          {% show_latest_posts 4 %}
      </div>
      <div class="col-2"></div>
    </div>
  </section>
{% endblock %}
