{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}payamQorbanpour{% endblock %}

{% block content %}
  {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
  {% endif %}
  <div class="row grid">
    {% for post in posts %}
    <div class="grid-item col-4 py-5">
      {% if post.image %}
      <a href="{{ post.get_absolute_url }}">
        <img class="pb-4 col-12 img-responsive" src="{{ post.image.url }}" alt="">
      </a>
      {% endif %}
      <h4 class="blog-post-title text-center">
        <a href="{{ post.get_absolute_url }}">
          {{ post.title }}
        </a>
      </h4>
      <p class="blog-post-meta text-center">
        <small>Published {{ post.publish }}</small>
      </p>
      <p class="tags text-center">
        {% for tag in post.tags.all %}
          <a class="badge badge-primary badge-pill" href="{% url "blog:post_list_by_tag" tag.slug %}">
            {{ tag.name }}
          </a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    </div>
    {% endfor %}

  </div>
{% endblock %}
